@tailwind base;
@tailwind components;
@tailwind utilities;


/* hide scrollbar but keep scroll */
.no-scrollbar {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Edge */
}